.landing {
    height: 100%;
    margin: 0;
    background: inline("images/Ma-Vibes.jpg");
}

.hidden {
  display: none;
}

.hero-container {
  height:100%;
  width: 100%;
  left:0%;
  position: relative;
}

.hero-container > video {
  min-height:100%;
  min-width:100%;
  position:absolute;
  right:0;
  bottom: 56;
  object-fit: none;
  height: 100%;
  z-index: 0;
}

.header {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.text-description {
  font-weight: 100;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.logo {
  vertical-align: middle;
  text-align:center;
}

.header-buttons {
  text-align: center;
}

.header-button {
  margin-right: 15px;
}
